@model IEnumerable<Yemek>

@{
    ViewData["Title"] = "Eat Worlde Hoşgeldiniz";
    var userDb = ViewData["UserDb"] as User;

}

<div class="container shadow p-5">
    @if (TempData["SuccessMsg"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMsg"]
        </div>
    }
    <h1 class="text-center">Ürünler Listesi</h1>


    @if (userDb != null && userDb.Permission == "Yetkili")
    {
        <div class="col mb-3">
            <a asp-controller="Yemek" asp-action="Ekle" class="btn btn-primary">Ürün Ekle</a>
        </div>
    }


    <div class="row">
        @foreach (var x in Model)
        {
            var photoPath = "~/images/" + (x.PhotoPath ?? "noimage.jpg");
            <div class="col-12 col-md-4 mb-4">
                <div class="card border-secondary">
                    <div class="card-body">
                        <div class="card-body text-center">
                            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
                        </div>
                        <hr />
                        <a asp-action="Görüntüle" asp-route-Id="@x.Id"><h4 class="card-title text-center">@x.Adı</h4></a>
                        <hr />
                        <div class="card-text"><strong>Açıklaması: </strong>@x.Açıklaması</div>
                        <hr />
                        <div class="card-text"><strong>Kategorisi: </strong>@x.Kategorisi</div>
                        <hr />
                        <h6 class="card-text"><strong>Fiyat: </strong>@x.Fiyatı</h6>
                        
                        @if (userDb != null && userDb.Permission == "Yetkili")
                        {
                            <div class="col mb-3">
                                <a asp-action="Duzenle" asp-route-id="@x.Id" type="button" class="btn btn-success mr-5"><i class="bi bi-pencil"></i></a>
                            </div>
                        }
                        @if (userDb != null && userDb.Permission == "Üye")
                        {
                            <div class="col mb-3">
                 
                                <a asp-controller="Yemek" asp-action="StinAl" asp-route-id="@x.Id" class="btn btn-success mr-5">Sepete Ekle</a>
                            </div>
                        }
                        

                        
                       
                    </div>
                </div>
            </div>
        }
    </div>
</div>
